<h4>Auto filtering colors with event binding (keyUp).</h4>
<h5>(We are not using NgModel at all, just event binding).</h5>

<div class="searchContainer">
  <label for="txtSearch">Search:</label>
  <input
    type="text"
    id="txtSearch"
    (keyup)="filterColor($event.target.value)"
  />
</div>

<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Hex</th>
    <th class="fixedWidth">Sample</th>
  </thead>
  <tbody>
    <tr *ngFor="let color of filterColors">
      <td>{{ color.colorId }}</td>
      <td>{{ color.name }}</td>
      <td>{{ color.hexString }}</td>
      <td [ngStyle]="{ 'background-color': color.hexString }"></td>
    </tr>
  </tbody>
</table>
