table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid lightblue;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px;
}

th {
  background-color: cornflowerblue;
  color: white;
}

th.fixedWidth {
  width: 30px;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#txtSearch {
  margin: 0 3px;
}
