/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Open Sans";
  src: url(/assets/fonts/OpenSans-Regular_0.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(/assets/fonts/OpenSans-Regular_0.eot);
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.otf") format("opentype");
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: azure;
  color: #3e3e3e;
  margin: 0;
  padding: 0;
}
